body{
	width:600px;
	margin: 20px auto;
	background: #666;
}
ul{
	list-style: none;
}
li{
background: white;
background: -webkit-gradient(linear,top left,top bottom,color-stop(0,#d8d8d8),color-stop(.85,#f2f2f2),to(#ffffff));
width:30px;
border-radius: 22px;
box-shadow: inset 0px 1px 4px rgba(0,0,0,.85);
}
a{
	background: #333;
	text-decoration: none;
	color:white;
}