*
{
	box-sizing:border-box;
}
html
{
	font-size: 1em;
	font-family: 'Alike';
	background-color: #262626;
	color: #d9d9d9;
}
body
{
	margin: 0;
}
img
{
	width:100%;
	height: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto';
  line-height: 1.313em;
}
h1 {
  font-size: 3em;
  margin: 0.563em 0;
}
h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}
h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}
h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}
h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}
h6 {
  font-size: 1em;
  margin: 0.75em 0;
}

.content
{
	font-size: 1.875rem;
	color:#262626 ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 49% auto;
}
.right
{
	padding: 1.618em 6.472em 3.236em 50%;
	background-position: 0 50%;
}
.left
{
	padding: 1.618em 50% 3.236em 6.472em;
	background-position: 100% 50%;
}
.container_01
{
	background-image: url(../images/minipadwhite.png);
	background-color: #00c17b;
}
.container_02
{
	background-image: url(../images/minipadblack.png);
	background-color: #e8697b;
}
.container_03
{
	background-image: url(../images/miniwhite.png);
	background-color: #14b29a;
}
.container_04
{
	background-image: url(../images/miniblack.png);
	background-color: #80b9f1;
}
.separator
{
	text-align: center;
	padding:1.618em 0em;
}
.smartimage
{
	display: none;
}